-# Compiled source #
-###################
-*.com
-*.class
*.dll
*.exe
*.o
*.so
*.a
forecastRun/nbproject
forecastRun/nbproject/*
forecastRun/forecastRun
forecastOpt/nbproject
forecastOpt/nbproject/*
forecastOpt/forecastOpt
.satLib.old
